// Colours
$white:#ececec; 
$transblack:#000000c2;


html {
    cursor: none !important;
    background-color: $white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $white;
    margin: 0px;
    padding: 0px;
    position: relative;
}
h1{
    display:inline;
    font-size:100%;
    font-weight:normal;
    margin:0;padding:0;
}
a:hover {
    cursor: none;
}

.cursor {
    width: 18px;
    height: 18px;
    border: 2px solid $white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10000;
    mix-blend-mode: difference;
}

.custom {
    height: 0;
}


@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wip-card {
    position: fixed;
    right: 0;
    top: 55px;
    width: 50px;
    height: 35px;
    background-color: $transblack;
    text-align: center;
    z-index: 99999;
    opacity:0%;
    transition:1.5s ease-in;
}

.wip-text {
    font-family: "Varela Round";
    font-size: 18px;
    margin-block: 7px;
    color: $white;
}

.wip-tooltip {
    position: fixed;
    width: 180px;
    background-color: $transblack;
    right: 90px;
    height: 75px;
    top: 40px;
    z-index: 99999;
    opacity: 0%;
    transition: 0.2s ease-in;
}

.wip-card:hover .wip-tooltip {
    opacity: 100%;
}

.wip-tooltip-text {
    font-family: "varela round";
    font-size: 12px;
    padding-top: 5px;
    color: $white;
}

#tooltip-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 12px;
    border-color: transparent transparent transparent $transblack;
    position: fixed;
    top: 65px;
    right: 65px;
}

.hero {
    text-align: center;
}

.title {
    margin-inline: auto;
    width: 90vw;
    margin-top: 5vh;
    opacity: 0%;
    transition: 1s ease-in;
}

.title-img {
    width: 100%;
}

.down-icon {
    margin-top: 50px;
    width: 80px;
    opacity: 0%;
    transition: 1s ease-in;
}

.hero-divider {
    height: 15rem;
}

.divider {
    height: 10rem;
}

.content-wrap {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 30rem;
    margin-inline: auto;
    margin-bottom: 100px;
    opacity: 0%;
    transition: 1s ease-in;
}

.content-left {
    flex-grow: 1;
    width: 50%;
}

.content-right {
    flex-grow: 1;
    width: inherit;
    height: inherit;
    background-color: white;
    width: 50%;

}

.content-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.content-link {
    text-decoration: none;
    font-family: "Vollkorn";
    font-size: 50px;
    font-style: italic;
    color: #121212;
}

.content-link:hover {
    text-decoration: underline;
    text-decoration-color: #d22f52;
    cursor: none;
}

.link-ico {
    position: relative;
    font-size: 16px;
    bottom: 4px;
    left: 20px;
}

.content-hr {
    width: 90%;
    margin-left: 0;
}

.content-text {
    font-family: "Vollkorn";
    font-size: 24px;
    padding-right: 50px;
}

.content-text-quote {
    position: relative;
    font-family: "Vollkorn";
    font-size: 20px;
    padding-right: 30px;
    top: 40px;
    color: #d22f52;
}

.content-wrap-invert {
    padding-block: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30rem;
    margin-inline: auto;
    margin-bottom: 100px;
    background-color: black;
    opacity: 0%;
    transition: 1s ease-in;
}

.content-left-invert {
    flex-grow: 1;
    width: 50%;
    margin-inline: 5vw;
}

.content-right-invert {
    flex-grow: 1;
    width: inherit;
    height: inherit;
    width: 50%;
}

.content-img-invert {

    position: relative;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    right: 5vw;
}

.link-ico-invert {
    position: relative;
    font-size: 16px;
    bottom: 4px;
    left: 20px;
    color: $white;
}

.content-link-invert {
    text-decoration: none;
    font-family: "Vollkorn";
    font-size: 50px;
    font-style: italic;
    color: #ededed;
}

.content-link-invert:hover {
    text-decoration: underline;
    text-decoration-color: #30a1c2;
    cursor: none;
}

.content-hr-invert {
    width: 90% !important;
    margin-left: 0 !important;
    color: #ededed;
}

.content-text-invert {
    font-family: "Vollkorn";
    color: #ededed;
    font-size: 24px;
    padding-right: 50px;
}

.content-text-quote-invert {
    position: relative;
    font-family: "Vollkorn";
    font-size: 20px;
    padding-right: 30px;
    top: 40px;
    color: #30a1c2;
}

.view-all {
    opacity: 0%;
    transition: 1s ease-in;
    width: 100%;
    height: 30rem;
    text-align: center;
    background-color: #121212;
    width: 65vw;
    height: 18rem;
    margin-inline: auto;
    margin-bottom: 80px;
}

.view-all-text {

    position: relative;
    color: white;
    font-family: "Vollkorn";
    font-size: 50px;
    line-height: 18rem;
    bottom: -10px;
    transition: 0.3s ease-in;
    text-decoration-color: $white;
}

.view-all-text:hover {
    text-decoration: underline;
    text-decoration-color: $white;
}

.animation {
    opacity: 100%;
}

.footer {
    text-align: center;
}

.footer-text {
    font-family: "Vollkorn";
    font-size: 16px;
    font-style: italic;
    font: weight 500px;
}

.programs-ico {
    padding-right: 10px;
}

.socials {
    text-align: center;
    z-index: 1000;
}

.socials-ico {
    padding-inline: 10px;
    margin-bottom: 30px;
    background-color: $white;
    transition: 0.2s;

}

.socials-ico:hover {
    transform: scale(1.1);
}

.highlighted {
    color: #d22f52;
}

.highlighted-invert {
    color: #30a1c2;
}



.scroll-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    mix-blend-mode: difference;

}

.top-of-page:hover {
    transform: scale(1.1);
}

.scroll-container:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
}

.scroll-container a {
    position: sticky;
    top: 96.5vh;
    margin-right: 22px;
    cursor: pointer;
    font-size: 20px;
    cursor: none;
}

.top-of-page {
    font-size: 50px;
    color: $white;
    transition: 0.2s;
}

#copy-box {
    position: relative;
    text-align: center;
    margin-inline: auto;
    background-color: black;
    width: 12rem;
    height: 2rem;
    bottom: 18px;
    transition: 0.3s ease;
    border-radius: 20px;
}

.copied-box-show {
    opacity: 100%;
}

.copied-box-hide {
    opacity: 0%;
}

.copied-text {
    position: inherit;
    color: white;
    top: 5.5px;
    font-family: "Vollkorn"
}

#triangle {
    position: relative;
    left: 9.38rem;
    bottom: 0.4rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #000000 transparent transparent transparent;
}



@media only screen and (max-width: 750px) {
    .content-text-quote {
        top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .content-text {
        font-size: 15px;
    }

    .content-text-quote {
        font-size: 12px;
    }
}

/* disable cursor for mobile */
@media only screen and (max-width: 414px) {
    .cursor {
        opacity: 0%;
    }
}